<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <script src="{%static 'js/jquery/3.6.1/jquery.min.js' %}"></script>
        <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}"/>
    </head>
    <script>
        $(document).ready(function(){
            if("{{searchVal}}"!="")
                $("#searchVal").val("{{searchVal}}");

            $("#search").val("Search");
        });
    </script>
    <style>
        ul li { display:inline-block; margin:10px; }
        div.memeName img { width:200px; height:200px; }
        div.memeImg { padding:10px 0; text-align:center; }
    </style>
    <body>
        <div class="container-fluid">
        <form action="{% url 'memes:search'  %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input class="form-control" id="searchVal" name="searchVal"  placeholder="Search..." aria-describedby="basic-addon2"/>
            
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="Submit" id="search" val="Search"/>
                </div>
            </div>

        </form>
        {% if memes %}
        <ul>
            {% for meme in memes %}    
            <li>
                <div id="memeName">
                    <font size="6">{{ meme.name }}</font>
                </div>
                <div id="memeImg">
                    <img src="{{ meme.url }}" style="width : 300px; height:300px;"/>
                </div>
            </li>
            {%endfor%}
        </table>
        {% else %}
            <p>No memes are available.</p>
        {% endif %}
    </div>
    </body> 
</html>